#!/bin/bash

docker run --rm \
--env LDAP_TLS_VERIFY_CLIENT=never \
--name ldap.service \
--hostname ldap.service \
--publish 389:389 \
--publish 636:636 \
-d osixia/openldap:latest
